body {
    padding-top: 70px; 
}

.project {
    margin-bottom: 25px;
    height: 300px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
}

.overlay {
    transition: all .5s ease;
    float: left;
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: black;
    opacity: 0;
    padding: 5px;
    color: white;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h3 {
    font-size: 4rem;
    object-fit: cover;
    width: 100%;
}

.overlay:hover {
    opacity: .5;
    transition: all .5s ease;
}

.overlay:hover + .portfolio-item {
        border: 5px solid rgba(255, 0, 255, 1);
        transition: all .5s ease;
}

.portfolio-item {
    margin-bottom: 25px;
    height: 300px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
    object-position: top;
    background-color: black;
}

.img-extra {
    height: 175px;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
    object-position: top;
}

#item1 {
    background-image: url('../img/FINAL Layout.png');
    border: 5px solid black;
    background-size: cover;
    background-position: center;
    width: 262.5px;
    height: 157.5px;

}

#progress1 {
    background-image: url(/stylesheets/img/darknet.jpg);
}

#progress2 {
    background-image: url(/stylesheets/img/warlock.jpg);
    background-position: 50% 0px;
}

.img-responsive {
    margin-bottom: 25px;
}
.main-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.main-img:hover, .img-extra:hover {
    border: 5px solid purple;
}
footer {
    margin: 5px ;
}

#github {
    height: 50px;
    width: 50px;
}

a:hover {
    cursor: pointer;
}