<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Chameleon</title>

    <!-- Add jQuery library -->
    <script type="text/javascript" src="./js/jquery.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="./fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="./fancybox/source/jquery.fancybox.pack.js"></script>
   
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="projects.html">Projects</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Infographic
                    <small>Adobe Illustrator</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
               <!-- <img class="img-responsive" src="./img/FINAL Layout.png" alt=""> -->
               <a class="fancybox" rel="group" href="./img/finallayout.png"><img class="img-responsive main-img" src="./img/finallayout.png" alt="" /></a>
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>Project was designed for presenting information about a topic in an informative attractive way. Used color, layout, typography and base models. Created displays one at a time, and changed them due to given feedback.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Model Based Design</li>
                    <li>Design Process Documented</li>
                    <li>Each display made through iterative process</li>
                </ul>
                <h3>Project Website</h3>
                <ul>
                    <a><li>http://dbefore.wixsite.com/infovis-2015</li></a>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/FINAL location-03.png"><img class ="img-responsive img-extra" src="./img/FINAL location-03.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/FINAL number-03.png"><img class ="img-responsive img-extra" src="./img/FINAL number-03.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/RelationDisplayv3-01-01.png"><img class ="img-responsive img-extra " src="./img/RelationDisplayv3-01-01.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/FINAL timeDisplay-01.png"><img class ="img-responsive img-extra" src="./img/FINAL timeDisplay-01.png" alt="" /></a>
            </div>

        </div>
        <!-- /.row -->
        
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">More Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="kiddos.html">
                    <img class="img-responsive portfolio-item" src="./img/Clock-01.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="bestinclass.html">
                    <img class="img-responsive portfolio-item" src="./img/bookmark-03.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="parking.html">
                    <img class="img-responsive portfolio-item" src="./img/home.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="code.html">
                    <img class="img-responsive portfolio-item" src="./img/webdev.jpg" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <a href="football.html">
                    <img class="img-responsive portfolio-item" src="./img/escalator.jpg" alt="">
                </a>
            </div>            
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Drew Before  |  (509)389-1901  |  Dbefore@uw.edu</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->

    <!-- <script src="js/jquery.js"></script> -->
    <script type="text/javascript">
	    $(document).ready(function() {
		    $(".fancybox").fancybox();
	    });
    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>