<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DBefore</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Home</a>
                 <a class="navbar-brand topnav" href="/projects">Projects</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Drew Before</h1>
                        <h3>Information Technology Engineer</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/andrew-before-b203ab141/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="/stylesheets/img/andrewbeforeresume.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-text fa-fw"></i> <span class="network-name">Resume</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/DrewBefore?tab=repositories" class="btn btn-default btn-lg github"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="/projects" class="btn btn-default btn-lg link"><i class="fa fa-cube fa-fw"></i> <span class="network-name">Projects</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Education <small>University of Washington</small></h2>
                    <p class="lead">I graduated from the University of Washington June, 2017, with a BS in Informatics. Through Informatics I have a focus in User Experience, and a strong background in Computer Science and Engineering.

                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/stylesheets/img/education.png" alt="">
                    </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Informatics Major <small>Key classes</small></h2>
                    <blockquote>"The term informatics broadly describes the study and practice of creating, storing, finding, manipulating and sharing information."<br> -UW Information School</blockquote>
                    <ul id="experience">
                        <li>Info 330 - Information Architecture</li>
                        <li>Info 340 - Relational Database <small>SQL</small></li>
                        <li>Info 343 - Web Development</li>
                        <li>Info 360 - Design Thinking</li>
                        <li>Info 424 - Information Visualization</li>
                        <li>Info 467 - Immersive Environment Design</li>
                        <li>Info 498 - Mobile App Design</li>
                        <li>CSE 142 & 143 - Programming</li>
                        <li>CSE 154 - Web Development</li>
                        <li>CSE 373 - Data Structures & Algorithms</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/stylesheets/img/ischool-05.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Division 1 Athlete <small>Football<small></h2>
                    <p class="lead">Learned what it really means to be a true competitor. I joined the team as a walk-on and worked my way to a starting position. My time on the team has helped me become the person I am today. Still remembering lessons in perserverance, teamwork and discipline.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/stylesheets/img/31-06.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Experience <small>Web Development, Graphic Design</small></h2>
                    <ul id="experience">
                        <li><a href="http://www.atavus.com">Atavus</a> - Marketing and Web Analyst - <small>HTML, CSS, JavaScript, WordPress, Google Analytics</small></li>
                        <li><a href="http://www.bestinclasseducation.com">Best In Class</a> - Graphic Designer - <small>Adobe Photoshop / Illustrator</small></li>
                        <li><a href="https://twitter.com/_uwrecruiting?lang=en">UW Football</a> - Graphic Designer - <small>Adobe Photoshop / Illustrator</small></li>
                        <li><a href="http://blockbusters.group">Capstone Project </a>- UX, UI, Data Science, Researcher - <small>HTML, CSS, JavaScript, Adobe After Effects / Illustrator, Python, SQL</small></li>
                        <li>Warlocks (In Progress) - Video Game Development - <small>c#, Unity3d </small></li>

                </ul>
                        
                        
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/stylesheets/img/experience-04.png" alt="">
                </div>
            </div>

        </div>
    </div>

	<a  name="contact"></a>
    <div class="banner">
    <!-- Header -->
    <a name="about"></a>
    <div class="outro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.linkedin.com/in/andrew-before-b203ab141/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="/stylesheets/img/andrewbeforeresume.pdf" class="btn btn-default btn-lg"><i class="fa fa-file-text fa-fw"></i> <span class="network-name">Resume</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/DrewBefore?tab=repositories" class="btn btn-default btn-lg github"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="/projects" class="btn btn-default btn-lg link"><i class="fa fa-cube fa-fw"></i> <span class="network-name">Projects</span></a>
                            </li>
                        </ul>
                    </div>
            </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <div class="container">
        <footer id="homefoot">
            <div class="row">
                <div class="col-lg-12">
                    <p class="lead"><small>Drew Before  |  (509)389-1901  |  Dbefore@uw.edu</small></p>
                </div>
            </div>
        </footer>
</div>
    <!-- jQuery -->
    <script src="/stylesheets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/stylesheets/js/bootstrap.min.js"></script>

</body>
</html>