<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item</title>

    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="./fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="./fancyBox/source/jquery.fancybox.pack.js"></script>
   
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="projects.html">Projects</a>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mobile App Design
                    <small>Adobe Illustrator, Photoshop, Sketch</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
               <!-- <img class="img-responsive" src="./img/FINAL Layout.png" alt=""> -->
               <a class="fancybox" rel="group" href="./img/Clock-06.png"><img class="img-responsive main-img" src="./img/Clock-06.png" alt="" /></a>
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>This is a piece that I created of a much larger group project. Our task was to first create our own design language. We chose to design a phone for kids. Using our design language we were tasked with created all of the apps commonly found on a mobile phone.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Custom Design Language</li>
                    <li>Mobile App Design</li>
                    <li>Sprint based Project</li>
                </ul>
                <h3>kiddOS Final Presentation</h3>
                <ul>
                        <a class="fancybox" rel="group" href="./img/kid.pdf"><li>KiddOS Final Presentation</li></a>
                        <li>*Presentation contains group work</li>

                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header"></h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/Clock-01.png"><img class ="img-responsive img-extra" src="./img/Clock-01.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/Clock-02.png"><img class ="img-responsive img-extra " src="./img/Clock-02.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/Clock-03.png"><img class ="img-responsive img-extra" src="./img/Clock-03.png" alt="" /></a>
            </div>

            <div class="col-sm-3 col-xs-6">
                    <a class="fancybox" rel="group" href="./img/Clock-04.png"><img class ="img-responsive img-extra" src="./img/Clock-04.png" alt="" /></a>
            </div>

        </div>
        <!-- /.row -->
        
        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">More Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="bestinclass.html">
                    <img class="img-responsive portfolio-item" src="./img/bookmark-03.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="parking.html">
                    <img class="img-responsive portfolio-item" src="./img/home.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="code.html">
                    <img class="img-responsive portfolio-item" src="./img/webdev.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="chameleon.html">
                    <img class="img-responsive portfolio-item" src="./img/chameleon-04.png" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-sm-3 col-xs-6">
                <a href="football.html">
                    <img class="img-responsive portfolio-item" src="./img/escalator.jpg" alt="">
                </a>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Drew Before  |  (509)389-1901  |  Dbefore@uw.edu</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!-- <script src="js/jquery.js"></script> -->
    <script type="text/javascript">
	    $(document).ready(function() {
		    $(".fancybox").fancybox();
	    });
</script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>